.home {
    width: calc(100% - 200px);
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #E7F6F2;
}

.home > h1 {
    margin-left: 20px;
    margin-right: 20px;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.flex-wrapper > a {
    text-decoration: none; 
}

/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (max-width: 1200px)
{ 
    .home {
        width: 100%;
    }
}

